<div class="col-lg-4 col-md-4">
  <!-- <img src="assets/images/profile.png" alt="logo" style="width: 100px;" >    -->
</div>
<div class="col-lg-4">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="sidebar">
    <!-- <h5>{{usern}}</h5>
      <img src="assets/images/profile.png" alt="logo" style="width: 200px; margin-left: 40px;" >     -->


    <div class="card" style="width: 150px;">
      <img src="assets/images/profile.png" alt="Avatar" style="width:150px">
      <div class="container">
        <h4 style="text-align: center;"><b >{{usern}}</b></h4>

      </div>
    </div>


    <br /><br />
    <a href="/applyloan"> <i class="fa fa-registered"></i> Apply Loan</a>
    <a href="/balancee"><i class="fa fa-money"></i> Check Balance</a>
    <a href="/calcemi"><i class="fa fa-calculator"></i> Calculate Emi</a>
    <a href="/payemi"><i class="fa fa-credit-card-alt"></i> PayEMI</a>
    <a href="/deposit"><i class="fa fa-money"></i> Deposit</a>
    <a href="/foreclose"><i class="fa fa fa-times"></i> Foreclose</a>
    <a href="/ptransactions"><i class="fa fa fa-book"></i> Transaction</a>
    <a href="/home"><i class="fa fa-sign-out"></i> Logout</a>

  </div>
</div>
<!-- <img src="assets/images/profile.png" alt="logo" style="width: 100px;"> -->
<!-- <a href="#home"> <img src="assets/images/classical.png" alt="logo" style="width: 40px;"> Apply Loan</a> -->