<!-- <nav class="navbar fixed-bottom "  style="background-color: black;" >
    <div class="navbar-brand font-italic font-size: 7px;" href="#" >
       <div class="text-right text-primary"> -->
<!--     
      This site is copyright &copy;to Welfarebank. 
      
    </div>
   
  </nav>  -->
  <!-- <body>
    <div class="contain">
        <div class="head">
        
        </div>
        <div class="main">
    
        </div>
    </div>
    <div class="footer">

    </div>
</body> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
hlk
        </div>
        <div class="col-lg-6 col-md-6">
uioik
        </div>
    </div>
</div> -->



<header>
    <b>About us</b>
    <img src="assets/images/1.jpg">
   
  </header>
  
  <section>
    <nav>
        <img src="assets/images/about-img.jpg" style="height: 250px; width: 300px;">
        <!-- <h5>
            <ul>
                <h3>Our Core Values</h3>

                <br/>
                <li>Excellence</li>
                <li>Customer Focus</li>
                <li>People</li>
                <li>Sustainability</li>
            </ul>
        </h5> -->
    </nav>
    
    <article>
        <!-- <img src="assets/images/about-img.jpg" style="height: 250px; width: 300px;"> -->
        <p style="font-size: 20px;">
            Welfare bank is one of India's leading banks.
            We offer different services to customers through netbanking.
        </p>
        <h5>
            <ul>
                <h3>Our Core Values</h3>

                <br/>
                <li>Excellence</li>
                <li>Customer Focus</li>
                <li>People</li>
                <li>Sustainability</li>
            </ul>
        </h5>
    </article>
  </section>
  
  <!-- <footer>
    <p>Footer</p>
  </footer> -->